# Raw Files
build.bat
config.pri
examples.pro
generate_messages.py
install.bat
replace.vbs

# Folders
.idea
actions
audio
build
cmake-build-debug
dockWidgets
dynamicVectorData
flarmDevice
graphicsWidgets
groundMode
joystick
lights
mapDrawing
messageDefinitions
missionDrawing
notification
payloadDrawing
pluginDependingOnPlugin
pointOfInterest
preflightChecklist
restrictionZoneApi
routes
shapes
stanagE2PrivateMessage
standardPaths
terrainProfile
trackDrawing
vectorData
vehicleTab
videoStream
zeroizeGcsData