# Raw Files
CMakeLists.txt
custom/vcsibuild.bat
build.bat
config.pri
examples.pro
generate_messages.py
install.bat
replace.vbs
custom/MakeFile
custom/MakeFile.Debug
custom/MakeFile.Release
test_plugin/MakeFile
test_plugin/MakeFile

# Folders
.idea
.vs
.vscode
actions
audio
build
cmake-build-debug
dockWidgets
dynamicVectorData
flarmDevice
graphicsWidgets
groundMode
joystick
lights
mapDrawing
messageDefinitions
missionDrawing
notification
payloadDrawing
pluginDependingOnPlugin
pointOfInterest
preflightChecklist
restrictionZoneApi
routes
shapes
stanagE2PrivateMessage
standardPaths
terrainProfile
trackDrawing
vectorData
vehicleTab
videoStream
zeroizeGcsData
test_plugin/debug
test_plugin/release
custom/debug
custom/release
custom/.qmake.stash
